/**Theme Color CSS**/
.spinner > div {
    background-color: #232f3d
;   
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #000000
;
}
a {
    color: #000000
;
}
.footer a:hover,
.footer a:active,
.footer a:focus {
    color: #000000
;
}
.block-title.alt .fa.color {
    background-color: #232f3d
;
}
.text-color {
    color: #000000
;
}
.drop-cap {    
    color: #000000
;
}
blockquote {
    background-color: #232f3d
;    
}
.btn-theme {   
    background-color: #232f3d;
    border-color: #232f3d;   
	color:#ffffff;
}
.btn-theme:hover,
.btn-theme:active,
.btn-theme:focus {
  background-color: #676767;
  border-color: #676767;
  color:#ffffff;
}
.btn-theme-transparent{
	color:#232f3d;
}
.btn-theme-transparent:hover, .btn-theme-transparent:focus, .btn-theme-transparent:active, .btn-title-more{
    background-color: #232f3d;
    border-color: #232f3d;
	color:#ffffff;
}
.btn-theme-dark {
    background-color: #303748;
    border-color: #303748;
    color: #ffffff;
}
.btn-theme-dark:hover, .btn-theme-dark:focus, .btn-theme-dark:active {
    background-color: #676767;
    border-color: #676767;
	color:#ffffff;
}
.btn-play { 
    background-color: rgba(86, 61, 124, 0.85);   
}
.btn-play:before {    
    border: solid 10px rgba(86, 61, 124, 0.35);
}
a:hover .btn-play,
.btn-play:hover {   
    color: #000000
;
}

.top-bar ul a:hover .fa {
    color: #ffffff
;
}
.top-bar ul a span.colored {
    color: #000000
;  
}

.header {
    border-bottom: solid 3px #232f3d
;
}
.coming-soon .header {  
    border-bottom-color: rgba(86, 61, 124, 0.5) !important;
}
.sf-arrows > li > .sf-with-ul:focus:after,
.sf-arrows > li:hover > .sf-with-ul:after,
.sf-arrows > .sfHover > .sf-with-ul:after {
    border-top-color: #232f3d
;
}
.sf-arrows ul li > .sf-with-ul:focus:after,
.sf-arrows ul li:hover > .sf-with-ul:after,
.sf-arrows ul .sfHover > .sf-with-ul:after {
    border-left-color: #232f3d
;
}
.sf-menu li.megamenu ul a:hover {
    color: #676767
;
}
.sf-menu li.active > a {
  color: #ffffff;
}
.sf-menu.nav > li > a:hover,
.sf-menu.nav > li > a:focus,  {
  background-color: #676767;
}
.sf-menu li.sale a {
    background-color: #232f3d
;   
}
@media (max-width: 991px) { 
	  .navigation {
		border-left: solid 1px #232f3d;
		background-color: #232f3d;
	  }  
    .sf-menu > li > a:hover {       
        color: #ffffff;
    }  
	.sf-menu > li > a:hover {
		background-color: #676767 !important;
		color: #ffffff;
	}
	.sf-menu > li > a {
		background-color: #232f3d;
	} 
	.sf-menu ul li > a,
	.sf-menu ul li > a:active,
	.sf-menu ul li > a:focus {
		color: #ffffff;
	} 
}
.footer {
    border-top: solid 10px #232f3d
;   
}
.main-slider .caption-subtitle {    
    color: #000000
;   
}
.main-slider .btn-theme:hover {
    border-color: #232f3d
;
    background-color: #232f3d
;   
}
.main-slider .dark .caption-text .btn-theme:hover {
    background-color: #232f3d
;
    border-color: #232f3d
;
}
.coming-soon .main-slider .page .countdown-amount { 
    color: #000000
;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
    border-color: #232f3d
;
    background-color: #232f3d
;  
}
.message-box {    
    background-color: #232f3d
;  
}
.content-tabs .nav-tabs > li.active > a {   
    color: #000000
;
}
.post-title a:hover {
    color: #000000
;
}
.post-meta a:hover {
    color: #000000
;
}
.about-the-author .media-heading a:hover {
    color: #000000
;
}
.post-wrap blockquote {  
    border-top: solid 6px #232f3d
;  
}
.recent-post .media-category { 
    color: #000000
;
}
.recent-post .media-heading a:hover {
    color: #000000
;
}
.widget .recent-post .media-meta a:hover {
    color: #000000
;
}
.comment-author a:hover {
    color: #000000
;
}
.comment-date .fa {
    color: #000000
;  
}
.thumbnail.hover,
.thumbnail:hover {
    border: solid 1px #232f3d
;
}
.caption-title a:hover {
    color: #000000
;
}
.thumbnail.thumbnail-banner .btn-theme:hover {
    background-color: #232f3d
;
    border-color: #232f3d
;
}
.recent-post .media-link:after{
    background-color: rgba(86, 61, 124, 0);
}
.recent-post .media-link:hover:after {
    background-color: rgba(86, 61, 124, 0.7);
}
.thumbnail-banner .caption {    
    background-color: #232f3d;
}
.thumbnail-banner.hover .caption,
.thumbnail-banner:hover .caption {
    background-color: #676767;
}
.thumbnail .price ins {   
    color: #000000
;
}
.product-single .reviews:hover,
.product-single .add-review:hover {
    color: #000000
;
}
.product-single .product-availability strong {
    color: #000000
;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
    background-color: #232f3d
;
}
.products.list .thumbnail .reviews:hover {
    color: #000000
;
}
.products.list .thumbnail .availability strong {
    color: #000000
;
}
.thumbnails.portfolio .thumbnail .caption.hovered {    
    background-color: rgba(86, 61, 124, 0.5);
}
.widget.widget-shop-deals .countdown-amount {   
    color: #000000
;
}
.widget.widget-tabs .nav-justified > li.active > a,
.widget.widget-tabs .nav-justified > li > a:hover,
.widget.widget-tabs .nav-justified > li > a:focus {
    border-color: #232f3d
;
    background-color: #232f3d
;   
}
@media (min-width: 768px) {    
    .widget.widget-tabs.alt .nav-justified > li.active > a:before {      
        border-top: solid 5px #232f3d
;
    }
}
.widget.shop-categories ul a:hover {
    color: #000000
;
}
.widget-flickr-feed ul a:hover {
    border-color: #232f3d
;
}
.widget-flickr-feed ul a:hover:before {
    background-color: rgba(86, 61, 124, 0.7);
}
.recent-tweets .media .fa {
    color: #000000
;
}
.product-list .price ins {   
    color: #000000
;
}
.product-list .media-link:after { 
    background-color: rgba(86, 61, 124, 0);   
}
.product-list .media-link:hover:after {
    background-color: rgba(86, 61, 124, 0.7);
}
.shop-sorting .col-sm-4 .btn-theme:hover {
    background-color: #232f3d
;
}
.orders td.description h4 a:hover {
    color: #000000
;
}
.orders td.total a:hover {
    color: #000000
;
}
.orders .media-link:after {    
    background-color: rgba(86, 61, 124, 0);  
}
.orders .media-link:hover:after {
    background-color: rgba(86, 61, 124, 0.7);
}
.wishlist td.description h4 a:hover {
    color: #000000
;
}
.wishlist td.total a:hover {
    color: #000000
;
}
.wishlist .media-link:after {   
    background-color: rgba(86, 61, 124, 0);   
}
.wishlist .media-link:hover:after {
    background-color: rgba(86, 61, 124, 0.7);
}
.compare-products .product .media-link:after {  
    background-color: rgba(86, 61, 124, 0);   
}
.compare-products .product .media-link:hover:after {
    background-color: rgba(86, 61, 124, 0.7);
}
.compare-products .product h4:hover,
.compare-products .product h4 a:hover {
    color: #000000
;
}
#contact-form .alert { 
    border-color: #232f3d
;
    background-color: #232f3d
;   
}
.to-top {   
    background-color: rgba(72, 72, 72, 0.54);
	color:#ffffff;
    border: solid 2px #232f3d
;   
}
.to-top:hover {   
	background:#ffffff;
    border-color: #232f3d
;
    color: #000000
;
}
.sf-menu li:hover,
.sf-menu li.sfHover,
.sf-menu li.sfHover > a,
.sf-menu li.active {
  background-color: #676767;
  color: #ffffff;
}
.sf-menu a:hover {
  color: #ffffff;
}
.sf-menu li.active > a {
  color: #ffffff;
}
.header-nav-1 .sf-arrows > li > .sf-with-ul:focus::after,
.header-nav-1 .sf-arrows > li:hover > .sf-with-ul::after,
.header-nav-1 .sf-arrows > li.active > .sf-with-ul::after,
.header-nav-1 .sf-arrows > .sfHover > .sf-with-ul::after {
    border-top-color: #232f3d
;
}
.header-nav-5 .sf-menu > li:hover,
.header-nav-5 .sf-menu li.active > a,
.header-nav-5 .sf-menu a:hover,
.header-nav-5 .sf-menu li.active,
.header-nav-5 .sf-menu > li.active.sfHover > a,
.header-nav-5 .sf-menu ul a:hover,
.sf-menu li:hover,
.header-nav-5 .sf-menu li.sfHover,
.header-nav-5 .sf-menu li.sfHover > a {
	background-color: #676767;
	color: #ffffff;
}
.header-nav-2 .sf-menu > li:hover,
.header-nav-2 .sf-menu > li:hover > a,
.header-nav-2 .sf-menu li.active,
.header-nav-2 .sf-menu > li.sfHover,
.header-nav-2 .sf-menu > li.sfHover > a {
  background-color: #676767;
  color: #ffffff;
}
.header-nav-2 .sf-menu ul a:hover {
    background-color: #7C438
	color: #ffffff;
;
}
.header-nav-3 .sf-menu > li:hover,
.header-nav-3 .sf-menu > li:hover > a,
.header-nav-3 .sf-menu li.active,
.header-nav-3 .sf-menu > li.sfHover,
.header-nav-3 .sf-menu > li.sfHover > a {
    background-color: #7C438
	color: #ffffff;
;
}
.header-nav-3 .sf-menu ul a:hover {
    background-color: #7C438
;
}
.information-title {
    border-bottom: 3px solid #232f3d
;   
	background-color: #232f3d;
	color: #ffffff;
}
.widget.account-details .widget-title {
    border-bottom: 3px solid #232f3d
;    
}
.widget.account-details li.active a {
    color: #000000
;
}
.widget.account-details li a:hover,
.widget.account-details li a:focus,
.details-box > ul li a:hover,
.details-box > ul li a:focus {
    color: #000000
;
}
.social-icons a:hover {
    color: #ffffff;
}
.btn-view-more-block {
    background-color: #a5abb7;
    border-color: #a5abb7;
}

/*-----------custom-----------*/
.top-bar {
    color: #ffffff;
	background-color: #232f3d;
    border-bottom: 1px solid #232f3d;
}
.top-bar a{
    color: #ffffff
;
}
.top-bar .top-bar-right > ul > li + li:before {
    background-color: #ffffff
;
}
.header.header-logo-left .header-search button:not(.selectpicker) {
    background-color: #232f3d;
    color: #ffffff;
}
.header.header-logo-left .header-search button:not(.selectpicker):hover {
    background-color: #676767;
}
.category_menu_search .category_menu_search-select {
    background: #232f3d
;
    color: #ffffff;
    border: 1px solid #232f3d
;
}
.category_menu_search button:not(.selectpicker) {
    background-color: #232f3d
;
    color: #ffffff;
}
.category_menu_search .form-control {
    border: 3px solid #232f3d
;
    color: #737475;
}

.category_menu_search .form-control:focus {
    -webkit-appearance: 0px 0px 3px #232f3d
;
    -webkit-box-shadow: 0px 0px 3px #232f3d
;
    box-shadow:0px 0px 3px #232f3d
;;
}

.product-single .buttons .quantity .btn {
    background-color: #232f3d;
    color: #ffffff;
    border: 1px solid #232f3d;
}
.product-single .buttons .quantity .btn:hover {
    background-color: #676767;
    color: #ffffff;
    border: 1px solid #676767;
}
.product-single .buttons .quantity .qty {
    border: 1px solid #232f3d;
}
.product-single .buttons .quantity {
    border: 1px solid #232f3d;
}
.product-single .buttons .btn-add-to.cart {
    border: 1px solid #232f3d;
    background: #232f3d;
	color: #ffffff;
}

.product-single .buttons .btn-add-to.cart:hover{
	border: 1px solid #676767;
    background: #ffffff;
    color: #676767;
	box-shadow: 0px 5px 7px #ccc;
	-webkit-transition-duration:0.5s;
	-moz-transition-duration:0.5s;
	transition-duration:0.5s;
}
.box-style-1 .button .icon-view strong {
    background-color: #232f3d;
    color: #ffffff;
}

.block-title.alt .fa {
    background-color: #232f3d;
    color: #ffffff;
}
.form-control:focus {
    border-color: #676767;
}


.vendor_header .profile_top .top_nav ul li.active,
.vendor_header .profile_top .top_nav ul li:hover {
    background: #676767;
}
.vendor_header .profile_top .top_nav ul li.active a,
.vendor_header .profile_top .top_nav ul li:hover a{
    color: #ffffff;
}

.view_select_btn > .btn-theme-transparent:active,
.view_select_btn > .btn-theme-transparent:focus, 
.view_select_btn > .btn-theme-transparent:hover{
	background-color:transparent !important;
	color:#232323 !important;
}
.view_select_btn > .btn-theme-transparent.active{
	background-color:transparent !important;
	border:3px solid #676767;
}
.home_category_theme_1 {
    border-top: 2px solid #232f3d;
}
.home_category_theme_1 .category_title {
    background: #232f3d;
    color: #ffffff;
}
.home_category_theme_1 .post-wrap{
    border-right: 2px solid #232f3d;
}
.footer1-widgets {
	background: #4e4e4e;
}
.footer1-widgets .widget .form-control {
    border: 3px solid #232f3d;
}
.footer1-widgets .widget .form-control:hover {
    border: 3px solid #676767;
}
.footer1-widgets .widget .btn-subcribe{
    background: #232f3d;
    border: 3px solid #232f3d;
	color:#fff;
}
.footer1-widgets .widget .btn-subcribe:hover{
    background: #676767;
	color:#ffffff;
    border: 3px solid #676767;
}
.footer1-meta {
  background-color: #676767;
}
.get_into .logo_top {
    background: #676767;
}
.get_into hr{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(103, 103, 103), rgba(0, 0, 0, 0));
}
/*--- scroll bar------*/
::-webkit-scrollbar-thumb {
    background: #676767;
}

